.ipynb_checkpoints
.DS_Store

*~
*.bak
*.bk
*.out
*.swp
*.tmp

*.aux
*.bbl
*.blg
*.idx
*.ilg
*.lof
*.log
*.lot
*.lox
*.mpx
*.nav
*.snm
*.toc

*.synctex.gz*
*-eps-converted-to.pdf
mptextmp.mp
mptextemp.mp
mpxerr.mp

*.Out
zgoubi.fai
zgoubi.plt
zgoubi.res

Tutorials/Monday/TutMo2/Presentation/Tutorial2.pdf
